apiVersion: v1
kind: ConfigMap
metadata:
  name: jitsi-config
  namespace: jitsi
data:
  # Public URL for the web service
  PUBLIC_URL: "https://telehealth.apps-o.hinisoft.com"
  
  # XMPP domain configuration
  XMPP_DOMAIN: "meet.jitsi"
  XMPP_AUTH_DOMAIN: "auth.meet.jitsi"
  XMPP_MUC_DOMAIN: "muc.meet.jitsi"
  XMPP_INTERNAL_MUC_DOMAIN: "internal-muc.meet.jitsi"
  XMPP_GUEST_DOMAIN: "guest.meet.jitsi"
  XMPP_RECORDER_DOMAIN: "recorder.meet.jitsi"
  
  # JVB configuration
  JVB_AUTH_USER: "jvb"
  JVB_STUN_SERVERS: "stun.l.google.com:19302,stun1.l.google.com:19302"
  JVB_PORT: "10000"
  JVB_TCP_HARVESTER_DISABLED: "true"
  
  # Jicofo configuration
  JICOFO_AUTH_USER: "focus"
  JICOFO_COMPONENT_SECRET: "s3cr3t"
  
  # Enable JWT authentication for OpenEMR integration
  ENABLE_AUTH: "1"
  ENABLE_GUESTS: "0"
  AUTH_TYPE: "jwt"
  JWT_APP_ID: "openemr_telehealth"
  JWT_ACCEPTED_ISSUERS: "openemr"
  JWT_ACCEPTED_AUDIENCES: "openemr_telehealth"
  JWT_ASAP_KEYSERVER: ""
  JWT_ALLOW_EMPTY: "0"
  JWT_AUTH_TYPE: "token"
  JWT_TOKEN_AUTH_MODULE: "token_verification"
  
  # Disable watermark
  DISABLE_WATERMARK: "true"
  
  # Timezone
  TZ: "America/Denver"
  
  # Enable recording (optional)
  ENABLE_RECORDING: "0"
  
  # Interface config
  INTERFACE_CONFIG_SHOW_JITSI_WATERMARK: "false"
  INTERFACE_CONFIG_SHOW_WATERMARK_FOR_GUESTS: "false"
  INTERFACE_CONFIG_SHOW_BRAND_WATERMARK: "false"
  
  # Etherpad (disabled by default)
  ETHERPAD_URL_BASE: ""
